<!doctype html>
<html> 
<head>
   <title>500-错误</title>
<meta charset="utf-8">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="icon" type="image/png" href="/static/img/favicon.ico"> 
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
 </head>
<body bgcolor="white">
<center><h1>500-错误</h1>
<p>{{.content}}</p>
</center>
<hr><center>  <a href="/">返回首页</a> </center>
</body>
</html>